<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/users/info', user: @user, genres: @genres, other_genre: @other_genre %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h3 class="mb-3">Post edit</h3>
      <% if @post.errors.any? %>
        <%= @post.errors.count %> 件のエラーが発生しました
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: @post do |f| %>

        <div class="form-group">
          <%= f.label :image %><br>
          <%= f.file_field :post_image, accept: "image/*" %><br>
        </div>

        <div class="form-group mb-0">
          <%= f.label :tag %><br>
          <%= f.text_field :category, class:"form-control col-md-5" %><br>
        </div>

        <div class="form-group">
          <%= f.label :genre %><br>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "選択して下さい"}, {class: 'form-control col-md-4'} %><br>
        </div>

        <div class="form-group mb-0">
          <%= f.label :title %><br>
          <%= f.text_field :title, class:"form-control col-md-4" %><br>
        </div>

        <div class="form-group">
          <%= f.label :text %><br>
          <%= f.text_area :body, class:"form-control", style:"width: 510px; height: 200px;" %>
        </div>
        <%= f.submit "Update Post" %>
      <% end %>
      <div class="offset-md-7">
        <%= link_to 'Back', post_path(@post), class:"text-dark" %>
      </div>
    </div>
  </div>
</div>