<%= render 'public/users/info', user: @user %>

<h4>Post一覧</h4>
<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Title</th>
      <th>Theme</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to user_path(post.user) do %>
          <%= image_tag post.user.get_profile_image(80, 80), accept: "image/*" %>
          <%= post.user.name %>
        <% end %>
      </td>
      <td><%= post.title %></td>
      <td><%= post.category %></td>
      <td><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
      <%= render 'public/bookmarks/bookmark', post: post %>
      <td><%= link_to 'Show', post_path(post.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
