<% if @post.errors.any? %>
  <%=  @post.errors.count %> 件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'public/users/info', user: @user %>

<h4>新規投稿</h4>

<%= form_with model: @post do |f| %>
  <%= f.label :画像 %>
  <%= f.file_field :post_image, accept: "image/*" %><br>

  <%= f.label :テーマ %>
  <%= f.text_field :category %><br>

  <%= f.label :ジャンル %>
  <%= select_tag 'genre', options_from_collection_for_select(@genres, :id, :name) %><br>

  <%= f.label :タイトル %>
  <%= f.text_field :title %><br>

  <%= f.label :本文 %><br>
  <%= f.text_area :body %><br>

  <%= f.submit "投稿" %>

<% end %>