<%= render 'public/users/info', user: @user, genres: @genres %>

<h1>Post Detail</h1>
<table>
  <tbody>
    <tr>
      <th>User</th>
      <td>
        <%= link_to user_path(@user) do %>
          <%= image_tag @user.get_profile_image(80, 80), accept: "image/*" %>
          <%= @user.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Title</th>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <th>Tag</th>
      <td><%= @post.category %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= @post.genre.name %></td>
    </tr>
    <% if @post.post_image.attached? %>
      <tr>
        <th>Image</th>
        <td><%= image_tag @post.get_post_image %></td>
      </tr>
    <% end %>
    <tr>
      <th>Text</th>
      <td><%= @post.body %></td>
      <%= render 'public/bookmarks/bookmark', post: @post %>
    </tr>
    <tr>
      <th></th>
      <td>
        <% if @user == current_user %>
          <td><%= link_to "Edit", edit_post_path(@post) %></td>
          <td><%= link_to "Destroy", post_path(@post), method: :delete, "data-confirm" => "投稿を削除しますか？" %></td>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Comment</th>
      <td>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, row: '5', placeholder: "コメントはここに書いて下さい" %>
          <%= f.submit "Create comment" %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>コメント数(<%= @post.post_comments.count %>)</td>
    </tr>
    <% @post_comments.each do |post_comment| %>
    <tr>
      <th></th>
      <td>
        <%= image_tag post_comment.user.get_profile_image(60, 60) %>
        <%= post_comment.user.name %>
        <%= post_comment.comment %><%= post_comment.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        <% if post_comment.user == current_user %>
          <%= link_to "Destroy", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>