<div class="container mt-5">
  <div class="row justify-content-center align-items-center">
    <div class="text-center">
      <h3>ジャンル編集</h3>

      <% if @genre.errors.any? %>
          <%= @genre.errors.count %> 件のエラーが発生しました
          <ul>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

      <div class="my-4">
        <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
          <%= f.label :ジャンル名 %>
          <%= f.text_field :name %>
          <%= f.submit "編集する", class:"mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>