<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
    <div class="text-center">
      <h3>ジャンル一覧・追加</h3>

      <% if @genre.errors.any? %>
          <%= @genre.errors.count %> 件のエラーが発生しました
          <ul>
            <% @genre.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      <% end %>

      <div class="my-4">
        <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
          <%= f.label :ジャンル名 %>
          <%= f.text_field :name %>
          <%= f.submit "ジャンル追加", class:"mt-2" %>
        <% end %>
      </div>
    </div>
  </div>

    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <table class="table" rules="rows" border="3">
          <thead bgcolor="#DDDDDD">
            <tr>
              <th class="text-center" colspan="2">ジャンル</th>
            </tr>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
            <tr>
              <td class="col-md-4 text-md-center info"><%= genre.name %></td>
              <td class="col-md-8">
                <div class="d-flex justify-content-center">
                  <%= link_to '編集', edit_admin_genre_path(genre), class:"btn btn-warning btn-sm" %>
                </div>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="paginate">
          <%= paginate @genres %>
        </div>
      </div>
    </div>
</div>
