<div class="container mt-5">
  <h4 class="text-center">投稿詳細</h4>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table mt-3" rules="rows" border="3">
          <tbody>
            <tr>
              <th class="col-md-2" bgcolor="#DDDDDD">ユーザーID</th>
              <td><%= @post.user.id %></td>
            </tr>
            <tr>
              <th class="col-md-2" bgcolor="#DDDDDD">ユーザー名</th>
              <td><%= @post.user.name %></td>
            </tr>
            <tr>
              <th class="col-md-2" bgcolor="#DDDDDD">タイトル</th>
              <td><%= @post.title %></td>
            </tr>
            <tr>
              <th class="col-md-2" bgcolor="#DDDDDD">タグ</th>
              <td><%= @post.category %></td>
            </tr>
            <tr>
              <th class="col-md-2" bgcolor="#DDDDDD">ジャンル</th>
              <td><%= @post.genre.name %></td>
            </tr>
            <% if @post.post_image.attached? %>
            <tr>
              <th class="col-md-2" bgcolor="#DDDDDD">画像</th>
              <td><%= image_tag @post.get_post_image %></td>
            </tr>
            <% end %>
            <tr>
              <th class="col-md-2" bgcolor="#DDDDDD">本文</th>
              <td><%= @post.body %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-4 offset-md-8">
    <%= link_to '削除', admin_post_path(@post), method: :delete, "data-confirm" => "投稿を削除しますか？", class:"btn btn-danger btn-lg" %>
  </div>
</div>

<!--<table>-->
<!--  <tbody>-->
<!--    <tr>-->
<!--      <th>ユーザーID</th>-->
<!--      <td><%= @post.user.id %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>ユーザー名</th>-->
<!--      <td><%= @post.user.name %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>タイトル</th>-->
<!--      <td><%= @post.title %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>タグ</th>-->
<!--      <td><%= @post.category %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th>ジャンル</th>-->
<!--      <td><%= @post.genre.name %></td>-->
<!--    </tr>-->
<!--    <% if @post.post_image.attached? %>-->
<!--    <tr>-->
<!--      <th>画像</th>-->
<!--      <td><%= image_tag @post.get_post_image %></td>-->
<!--    </tr>-->
<!--    <% end %>-->
<!--    <tr>-->
<!--      <th>本文</th>-->
<!--      <td><%= @post.body %></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <th></th>-->
<!--      <td>-->
<!--        <%= link_to '削除', admin_post_path(@post), method: :delete, "data-confirm" => "投稿を削除しますか？", class:"btn btn-sm btn-danger" %>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->