<%= render 'public/users/info', user: @user, genres: @genres %>

<h3>BookMark一覧</h3>
<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Title</th>
      <th>Theme</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
    <tr>
      <td>
        <%= link_to user_path(bookmark.user) do %>
            <%= image_tag bookmark.user.get_profile_image(80, 80) %>
            <%= bookmark.user.name %>
        <% end %>
      </td>
      <td>
        <%= link_to post_path(bookmark.post) do %>
          <%= bookmark.post.title %>
        <% end %>
      </td>
      <td><%= bookmark.post.category %></td>
    </tr>
    <% end %>
  </tbody>
</table>