<div class="container mt-5">
  <h4 class="text-center"><%= @user.name %> さんのユーザーステータス変更</h4>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
        <table class="table mt-3" rules="rows" border="3">
          <tbody>
            <tr>
              <th class="col-md-4" bgcolor="#DDDDDD">ユーザーID</th>
              <td class="col-md-2"></td>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <th bgcolor="#DDDDDD">ユーザー名</th>
              <td></td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th bgcolor="#DDDDDD">メールアドレス</th>
              <td></td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th bgcolor="#DDDDDD">ステータスの変更</th>
              <td></td>
              <td>
                <%= f.radio_button :is_active, :true %>
                <%= f.label :is_active, "有効" %>
                <%= f.radio_button :is_active, :false %>
                <%= f.label :is_active, "無効" %><br>
                <%= f.submit "変更する", class:"btn btn-warning btn-sm", "data-confirm" => "ステータスを変更しますか？" %>
              </td>
            </tr>
        <% end %>
        <%= form_with model: @user, url: admin_user_path(@user), method: :delete do |f| %>
            <tr>
              <th bgcolor="#DDDDDD">ユーザーの削除</th>
              <td></td>
              <td>
                <%= f.submit "削除する", class:"btn btn-danger", "data-confirm" => "ユーザーを削除しますか？" %>
              </td>
            </tr>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
</div>