<!--このページでステータス変更する-->
<div class="container mt-4">
  <h4 class="text-center"><%= @user.name %> さんの詳細</h4>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <table class="table mt-3" rules="rows" border="3">
          <tbody>
            <tr>
              <th class="col-md-3" bgcolor="#DDDDDD">ユーザーID</th>
              <td class="col-md-3"></td>
              <td><%= @user.id %></td>
            </tr>
            <tr>
              <th bgcolor="#DDDDDD">ユーザー名</th>
              <td></td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th bgcolor="#DDDDDD">メール<br>アドレス</th>
              <td></td>
              <td><%= @user.email %></td>
            </tr>
            <tr>
              <th bgcolor="#DDDDDD">ユーザー<br>ステータス</th>
              <td></td>
              <td><%= @user.user_status %></td>
            </tr>
            <tr>
              <th bgcolor="#DDDDDD">ステータス変更</th>
              <td></td>
              <td><%= link_to '変更する', edit_admin_user_path(@user), class:"btn btn-warning btn-sm" %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-10">
        <table class="table mt-4">
          <thead>
            <tr bgcolor="#DDDDDD">
              <th>タイトル</th>
              <th class="col-md-2">タグ</th>
              <th class="col-md-2">ジャンル</th>
              <th>Text</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td>
                <%= link_to admin_post_path(post) do %>
                  <%= truncate(post.title, length: 10, omision: "...") %>
                <% end %>
              </td>
              <td><%= post.category %></td>
              <td><%= post.genre.name %></td>
              <td><%= truncate(post.body, length: 15, omision: "...") %></td>
              <td><%= post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="paginate">
          <%= paginate @posts %>
        </div>
      </div>
    </div>
</div>