<!--このページでステータス変更する-->
<h4><%= @user.name %> さんの詳細</h4>

<table>
  <tbody>
    <tr>
      <th>ユーザーID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>ユーザー名</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <td><%= @user.user_status %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= link_to '変更する', edit_admin_user_path(@user) %></td>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>タグ</th>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post_path(post) do %>
          <%= post.title %>
        <% end %>
      </td>
      <td><%= post.category %></td>
      <td><%= post.genre.name %></td>
      <td><%= link_to 'Show', admin_post_path(post) %></td>
    </tr>
    <% end %>
  </tbody>
</table>