<!--このページでステータス変更する-->
<h4><%= @user.name %> さんの詳細</h4>

<table>
  <tbody>
    <tr>
      <th>ユーザーID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>ユーザー名</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>会員ステータス</th>
      <td><%= @user.is_active %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= link_to '変更する', edit_admin_user_path(@user) %></td>
    </tr>
  </tbody>
</table>