<div class="container mt-5">
  <h2 class="text-center mb-3">Log in</h2>
  <h7 class="col-md-5 offset-md-4">登録済みの方は下記フォームからログインして下さい</74>
    <div class="row justify-content-center">
      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-md-12" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <%# if devise_mapping.rememberable? %>
        <!--  <div class="field">-->
            <%#= f.check_box :remember_me %>
            <%#= f.label :remember_me %>
        <!--  </div>-->
        <%# end %>

        <div class="actions mt-3">
          <%= f.submit "Log in" %>
        </div>

        <div class="group mt-4">
          新規登録がまだの方はこちら<br>
          <%= render "public/shared/links" %>
        </div>
      <% end %>
    </div>
</div>
