<!--User infoの部分テンプレートファイル-->

  <h3>User info</h3>
  <table class="table">
    <tr><%= image_tag user.get_profile_image(100, 100) %></tr>
    <table class="table">
      <tbody>
        <tr>
          <th>User name</th>
          <td><%= user.name %></td>
        </tr>
        <tr>
          <th>Introduction</th>
          <td><%= user.introduction %></td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <!--<div class="col-auto">-->
        <table class="table">
          <% if user == current_user && user.email != "guest@example.com" %>
          <tr>
            <td>
              <%= link_to edit_user_path(user), class:"btn btn-outline-dark btn-sm btn-block" do  %>
                <i class="fa-solid fa-user-pen"></i>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="text-center"><%= link_to "Bookmark", user_bookmarks_path(user), style:"color:black;" %></td>
          </tr>
          <% end %>
          <tr>
            <td><%= link_to "投稿する", new_post_path, class:"btn btn-success btn-sm btn-block" %></td>
          </tr>
        </table>
      </div>

      <table class="table">
        <tbody class="text-center">
          <tr>
            <th>ジャンル検索</th>
          </tr>
          <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to genre_search_path(genre_id: genre.id), style:"color: black;" do %>
                <%= genre.name %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </table>
