<!--部分テンプレートファイル-->
<h5>User info</h5>
<%= image_tag user.get_profile_image(100, 100) %>
<table>
  <tbody>
    <tr>
      <th>User name</th>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <th>introduction</th>
      <td><%= user.introduction %></td>
    </tr>
    <!--<tr>-->
      <!--出来ればカラム追加してテーマも表じさせたい-->
    <!--</tr>-->
    <% if user == current_user %>
      <tr>
        <td><%= link_to "編集", edit_user_path(user) %></td>
      </tr>
      <tr>
        <td><%= link_to "My page", user_path(user) %></td>
      </tr>
      <tr>
        <td><%= link_to "投稿する", new_post_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>