<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user, genres: @genres %>
    </div>

      <div class="col-md-8 offset-md-1">
        <h4 class="d-flex justify-content-center mb-3">User info Edit page</h4>
        <div class="d-flex justify-content-center">
          <% if @user.errors.any? %>
            <%= @user.errors.count %> 件のエラーが発生しました
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </div>

        <div class="d-flex justify-content-center mt-3">
          <div class="col-md-4">
          <%= form_with model: @user do |f| %>

            <div class="form-group mb-0">
              <%= f.label :'user name' %><br>
              <%= f.text_field :name %><br>
            </div>
            <div class="form-group">
              <%= f.label :'profile image' %><br>
              <%= f.file_field :profile_image, accept: "image/*" %><br>
            </div>
            <div class="form-group">
              <%= f.label :introduction %><br>
              <%= f.text_area :introduction, style:"height: 80px; width: 400px;" %><br>
            </div>
            <%= f.submit "Update User" %>
          <% end %>
          </div>
        </div>

      </div>
  </div>
</div>





