<div>
  <%= flash[:notice] %>
</div>
<%= render 'info', user: @user %>

<h4>Posts</h4>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Theme</th>
      <th>Text</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post_path(post) do %>
          <%= post.title %>
        <% end %>
      </td>
      <td><%= post.category %></td>
      <td><%= post.body %></td>
      <td><%= post.post_comments.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>